body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
}
ul {
    list-style: none;
}
form {
    display: flex;
}
a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}
header {
    position: relative;
    display: flex;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px; /* ou o tamanho que desejar */
    height: 100vh;
    display: none;
    background-color: #f8f9fa;
    cursor: default;
    z-index: 1000; /* garantir que fique acima de outros elementos */
}
div#menu-hamburguer:hover > nav {
    display: block;
}
div#menu-hamburguer:hover > button#hamburguer-button {
    display: none;
}
div#menu-hamburguer:hover {
    cursor: pointer;
}
#exit-button:hover{
    cursor: pointer;
}
div#menu-hamburguer {
    height: 5px;
    margin-top: 1rem;
}
p#username {
    margin-left: 10px;
    padding-right: 1vw;
    border-width: 1px;
    border-right-style: solid;
    display: flex;
}
button#hamburguer-button {
    margin-left: 30%;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-color: #00000016;
    border-radius: 10px;
}
#exit-button{
    margin-left: 20px;
    display: flex;
    width: 40px;
    height: 50px;
    background-color: #00000000;
    border: none;
}
#user-photo {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.199);
}
.area-search {
    position: relative;
    width: 100vh;
    max-width: 100vh;
    margin: auto;
    margin-left: 10%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.search-bar {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.222);
}
.search-button {
    max-height: 50px;
    max-width: 30px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    background-color: #7EA8B3;
    cursor: pointer;
}
.nav-bar {
    display: block;
    background-color: #f8f9fa;
    height: 100vh;
    padding-bottom: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.038);
}

.nav-list{
    font-weight: 100;
}
.nav-list:hover {
    font-weight: bold;
}
.user-area {
    margin: auto;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    height: 50%;
    width: 50%;
}