#main {
    display: flex;
    flex-direction: column;
    justify-content: top;
    height: 100vh;
    background-color: #f0f2f5;
    flex:1;
}
#table-title-border {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.236);
    border-width: 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
#table-title {
    margin-left: 30px;
    font-size: larger;
    font-weight: bold;
}
#table-container {
    border-radius: 20px;
    margin-top: 100px;
    margin-right: 20px;
    
    align-self: center;
    height: 50%;
    width: 70%;

    background-color: #f8f9fa;
    border: none;

    margin-left: 20px;
    box-shadow: -3px 3px 9px rgba(0, 0, 0, 0.256);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
}
#table-header:hover {
    background-color: #f8f9fa;
    scale: 1;
    cursor: default;
}
#table-view {
    align-self: center;
    overflow: scroll;
    height: 80%;
}
#card-view {
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
    justify-content: center;
}
#title-total{
    color: rgba(0, 0, 128, 0.400);
}
#title-month {
    color: rgba(0, 128, 0, 0.400);
}
#title-pending {
    color:rgba(128, 0, 0, 0.400);
}
.card {
    width: 100%;
    height: 100%;
    min-width: 100px;
    max-width: 290px;
    min-height: 10px;
    max-height: 200px;
    
    margin-top: 30px;
    margin-left: 20px;
    padding: 10px;

    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    
    justify-content: center;
    text-align: center;
    
    background-color: #f8f9fa;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.256);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
}
.card#total {
    border-color: rgba(0, 0, 128, 0.400);
}
.card#month {
    border-color: rgba(0, 128, 0, 0.400);
}
.card {
    border-color: rgba(128, 0, 0, 0.400)
}
.card-title {
    font-size: 300%;
    margin-bottom: 0;
    
}
.card-text {
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 130%;
    margin-top: 0;
    margin-bottom: 10%
}

td {
    text-align: center;
    border-style: solid;
    border-width: 0;
    border-color: rgba(0, 0, 0, 0.397);
}
tr:hover {
    scale: 1.05;
    transition: 100ms;
    background-color: #e7e7e7;
}
table {
    border-collapse: collapse;
    overflow: hidden;
    width: 100%;
}
