#container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.400);
}
#opitions-title {
    font-size: larger;
    align-self: center;
}
#userlist-opition {
    font-size: large;
    font-weight: normal;
}
#userlist-opition:hover {
    font-weight:bold
}
#press-button:hover {
    cursor: pointer;
    background-color: #b5b5b5;
}
#press-button {
    padding: 1%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    background-color: #DFDFDF;
}
#press-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}