:root {
    --header-border-color: rgb(215, 215, 215);
    --header-color: rgb(233, 233, 233);
    --hover-table-color: var(--principal-color);
    --nav-user-back-color: white;
    --back-color: #f4f4f4;
    --text-color: black;
    --error-text-color: red;
    --search-container-color: #dcdcdc;
    --search-bar-border-color: #aeadad;
    --input-color: white;
    --menu-itens-color: brightness(0%);
    --register-btn-collor:rgb(0, 199, 0);
    --register-btn-collor-hvr: rgb(0, 119, 0);
    --press-btn-collor:rgb(41, 17, 160);
    --press-btn-collor-hvr: rgb(26, 11, 98);
    --status-color-a: rgb(0, 201, 10);
    --status-color-i: rgb(201, 9, 9);
    --principal-color: linear-gradient(to left, #a6bcea, rgb(113, 152, 177));
    --status-bk-color-a : rgb(153, 255, 153);
    --status-bk-color-i : rgb(255, 153, 153);

    --error-text-color: rgb(255, 65, 65);
    --table-back-color: rgb(255, 255, 255);
    --button-color: #c6c4bb;
    --button-hover-color: #b5b5b5;
    --nav-gradient-color: linear-gradient(to left, white, rgb(228, 228, 228));
    --modal-invalid-outline-color: #ff6b6b;
    --exit-button-hover: rgb(152, 0, 0);

    --card-color-register: #0003aa;
    --card-color-last-month: #008a02;
    --card-color-pending: #c00003;
    --card-back-color:rgb(255, 255, 255);


    --toggle-theme-bg-color: #1C1439;
    --login-back-color: rgb(231, 231, 231);
    --login-logo-color: #515551;
    --login-back-container-color: white;
    --login-logo-color: #515551;
    --login-button-color: #53c257;
    --login-button-hover-color: #3f9145;
    --login-text-color: #ffffff;
    --linear-toggle-gradient: linear-gradient(white, rgb(197, 197, 197));
    --hide-button-url: url(../../../pages/login-page/assets/image/hide_icon_light.svg);
    --show-button-url: url(../../../pages/login-page/assets/image/show_icon_light.svg);

}

.dark-theme:root {
    --header-border-color: rgb(41, 41, 41);
    --header-color: rgb(52, 52, 52);
    --hover-table-color: var(--principal-color);
    --input-text-color: rgb(166, 154, 205);
    --input-color: #888888;
    --nav-user-back-color: #121212;
    --back-color: #1d1d1d;
    --text-color: #E0E0E0;
    --error-text-color: rgb(255, 90, 90);
    --search-container-color: #444444;
    --search-bar-border-color: #6B6875;
    --menu-itens-color: invert(100%);
    --status-color-a: lime;
    --status-color-i: red;
    --status-bk-color-a : rgb(153, 255, 153);
    --status-bk-color-i : rgb(255, 153, 153);
    --register-btn-collor-hvr: rgb(26, 63, 26);
    --press-btn-collor:rgb(41, 41, 99);
    --press-btn-collor-hvr: rgb(26, 26, 63);
    --principal-color: linear-gradient(to left, #a6bcea, rgb(113, 152, 177));

    --button-text-color: white;
    --button-color: #888888;
    --button-hover-color: #b5b5b5;
    --nav-gradient-color: linear-gradient(to bottom, #121212, #131313);
    --modal-invalid-outline-color: #ff6b6b;
    --exit-button-hover: rgb(152, 0, 0);

    --card-back-color: #444444;
    --card-color-register: #9192b3;
    --card-color-last-month: #72a173;
    --card-color-pending: #885456;

    --toggle-theme-bg-color: #E0E0E0;
    --login-back-color: #121212;
    --login-back-container-color: #444444;
    --login-logo-color: #E0E0E0;
    --login-button-color: #8077A0;
    --login-button-hover-color: #8464F5;
    --login-text-color: white;

    --table-back-color: #444444;
    --linear-toggle-gradient: linear-gradient(#000000, #595959);

    --hide-button-url: url(../../../pages/login-page/assets/image/hide_icon_dark.svg);
    --show-button-url: url(../../../pages/login-page/assets/image/show_icon_dark.svg);

}