#opitions-title {
    margin-left: 30px;
    font-size: 2vw;
    font-weight: bold;
}
.list-opition {
    font-size: 1.2vw;
    margin-left: 0;
    
}
#userlist-opition{
    font-weight: normal;
}
.container {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.400);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.341);
    background-color: #ffffff;
}
th {
    font-size: larger;
}
td {
    border-style: solid;
    border-width: 1px;
    border-right: 0;
    border-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: rgba(0, 0, 0, 0.397);
}
#report-table {
    width: 80vw;
    justify-self: center;
    
}
#table-header {
    display: flex;
    flex-direction: column;
}

#register-button {
    font-size: 90%;
    border-color: rgba(0, 0, 0, 0.070);
    background-color: #7EA8B3;
    margin-bottom: 30px;
    margin-left: 30px;
    display: flex;
    height: 30px;
    width: 120px;
    justify-content: center;
    font-weight: bold;
    box-shadow:3px 3px 5px rgba(0, 0, 0, 0.166);
}
#button-text {
    color: rgb(255, 255, 255);
    display: flex;
    justify-self: center;
    align-self: center;
}
#register-button:hover {
    align-content: center;
    cursor: pointer;
    background-color: #597999;
}
tr {
    border-style: solid;
}
tr:hover {
    background-color: #59799950;
}