dialog {
    border-width: 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.400);
    border-radius: 10px;
    max-height: 500px;
    height: 100%;
    max-width: 900px;
    width: 100%;
}

#register-form {
    display: flex;
    flex-direction: column;
}

#modal-header {
    position: relative;
}

#modal-title {
    justify-self: center;
    border: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;

}

#opitions-title {
    margin-inline-end: auto;
    color: var(--text-color);
}

#exit-register-modal {
    
    margin-left: 95%;
    color: var(--text-color);
    height: 25px;
    width: 25px;
    border-width: 0;
    border-radius: 3px;
    font-family: sans-serif;
    font-weight: bolder;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.300);
    background: none;
    font-size: 1.2em;
    cursor: pointer;
    background-color: rgb(255, 42, 42);
}

#exit-register-modal:hover {
    background-color: var(--exit-button-hover);
}

#error-message {
    display: flex;
    margin-top: 5px;
    align-self: flex-start;
    font-size: small;
    margin-left: 5px;
    color: var(--error-text-color);
}

.modal-input-name {
    font-weight: bold;
}

#modal-container {
    width: 100%;
    max-width: 90vw;
}

.input-modal {
    justify-self: center;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.400);
    border-radius: 10px;
    width: 98%;
    height: 30px;
    border-width: 0px;
    margin-left: 5px;
    
    padding: 8px;
}

.input-modal:invalid {
    outline-color: var(--modal-invalid-outline-color);
}

.date-input {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#infos-area {
    justify-content: center;
}

.info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 14px;
    padding: 10px;
    width: 98%;
    border-radius: 10px;
    border-width: 0;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.400);
    min-height: 60px;
    resize: none;
    
}

#submit-area {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.submit-buttons {
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    border: 0;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    cursor: pointer;
    max-width: 100px;
    max-height: 40px;
}

#submit-button:hover {
    background-color: var(--button-hover-color);
}

#opitions-title {
    font-size: x-large;

}

#erase-button:hover {
    background-color: var(--button-hover-color);
}

#register-button {
    display: flex;
    margin-inline-start: auto;
    width: 100%;
    height: 100%;
    color: white;
    max-width: 200px;
    min-width: 90px;
    max-height: 35px;
    min-height: 25px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    background-color: var(--register-btn-collor);
}



#register-button:hover {
    cursor: pointer;
    background-color: var(--register-btn-collor-hvr);
}

#register-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;

    
}

#delete-button {
    background-color: #ffffff00;
    border: none;
}

#edit-button {
    background-color: #ffffff00;
    border: none;
}

#delete-button:hover {
    cursor: pointer;
}

#edit-button:hover {
    cursor: pointer;
}


.button-icon {
    margin-right: 4px;
    width: 30%;
    justify-self: center;
}

.button-icon#erase-icon {
    margin-right: 1px;
    width: 38%;
}

.button-text {
    justify-self: center;
}

#modal-title {
    color: var(--text-color)
}

#modal-subtitle {
    font-size: x-large;
    color: var(--text-color);
}

dialog {
    background-color: var(--back-color);
}

p {
    font-size: large;
    color: var(--text-color);
}

h3 {
    color: var(--text-color);
}

.submit-buttons {
    background-color: var(--button-color);
}

input {
    background-color: var(--input-color);
    color: var(--text-color);
}
textarea {
    background-color: var(--input-color);
    color: var(--text-color);
    font-size: medium;
}
#user_adress {
    margin-bottom: 80px;
}
#cancel-span {
    color: var(--text-color);
}
#cancel-span:hover {
border-style: solid;
border-top: 0;
border-left: 0;
border-right: 0;
cursor: pointer;
}
#user_status {
    width: 20px;
    height: 20px;
}
.status-container {
    gap: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}
#user_status:hover {
    cursor: pointer;
}
#delete-confirm {
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    min-width: min-content;
    max-height: fit-content;
    min-height: min-content;
}

#buttons-container {
    display: flex;
    justify-content: center;
    gap: 8px;
}

#delete-message {
    font-size: large;
    text-align: center;
}

#confirm-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 30px;
    min-height: 25px;
    max-width: 80px;
    min-width: 25px;
    width: 100%;
    height: 100%;
    background-color: red;
    border: none;
    border-radius: 4px;
}

#cancel-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 30px;
    min-height: 25px;
    max-width: 80px;
    min-width: 25px;
    width: 100%;
    height: 100%;
    background-color: green;
    border: none;
    border-radius: 4px
}

#confirm-delete>span {
    font-size: medium;
    color: white;
}

#cancel-delete>span {
    font-size: medium;
    color: white;
}

#confirm-delete:hover {
    cursor: pointer;
    background-color: rgb(147, 0, 0);
}

#cancel-delete:hover {
    cursor: pointer;
    background-color: rgb(0, 69, 0);
}